/*! Place your custom styles here */

/*! Place your custom styles here */


.bar .logo {
    max-height: 120px;
    max-width: none;
}
.footer-img {
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.7);
    background-image: url(../img/footer.jpeg);
    background-position: center;
    background-blend-mode: overlay;
}
