/*! Place your custom styles here */

/*! Place your custom styles here */


.bar .logo {
    max-height: 120px;
    max-width: none;
}
.footer-img {
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.7);
    background-image: url(../img/footer.jpeg);
    background-position: center;
    background-blend-mode: overlay;
}
.no-padding {
    padding: 0;
}
@media (max-width: 767px) {
    .mobile-margin-top {
        margin-top: 80px;
    }
    .pos-vertical-center.clearfix.row.no-gutters.justify-content-center {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.vertical-centering {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.no-repeating-centered-image {
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

@media (max-width: 990px) {
    .force-mobile-height-80 {
        height: 80vh !important;
    }
}
